.prose img {
    width: 100%;
}

.content {
    position: relative;
    h1 {
        @apply lg:mb-8;
    }
    @apply mt-12 md:mt-20 prose prose-invert text-left px-4 md:px-12 max-w-screen;
}

#nprogress {
    pointer-events: none;
}
