i.fa-vuejs {
  color: rgb(65, 184, 131);
}

i.fa-js {
  color: rgb(241, 224, 90);
}

i.fa-code {
  color: rgb(43, 116, 137);
}

i.fa-css3 {
  color: #2965f1;
}

i.fa-sass {
  color: rgb(205, 103, 153);
}

i.fa-php {
  color: #787cb5;
}

i.fa-laravel {
  color: #f05340;
}

i.fa-bootstrap {
  color: #6633ff;
}

i.fa-node {
  color: #215732;
}
